# ---> Yii
assets/*
!assets/.gitignore
runtime/*
!runtime/.gitignore
web/assets/*
tests/
.settings/
.buildpath
.project
.idea/**/*
.idea/workspace.xml
node_modules
test.js
web/*
!web/.htaccess
!web/favicon.ico
!web/index.php

